*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.card{
    display: flex;
    height: 280px;
    width: 800px;
    overflow: hidden;
}

.img_slider{
    width: 80%;
}

.img_slider img{
    transform: translateY(-13%);
}

.thumbnails{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.thumb{
    height: calc(100% / 4);
    display: block;
}