*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.card{
    display: flex;
    width: 1100px;
    height: 370px;
    position: relative;
}

.img_slider{
    width: 85%;
    
}


.img_slider img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.img_details{
    background-color: rgba(0, 0, 0, 0.71);
    min-height: 6rem;
    width: 85%;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    right: 15%;
    text-align: right;
    
    
}

.thumbnails{
    display: flex;
    width: 15%;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    position: relative;
    max-height: 100%;
    
}

.img_box{
    height: 100%;
    object-fit: cover;
}

.img_box img{
    width: 100%;
    display: block;
    height: calc(100% / 5);
    filter: brightness(0.5);
}


.img_box .active{
    filter: brightness(1);
    border: 5px solid rgb(234, 164, 0);
    } 

.prev, .next{
    color: black;
    background-color: rgba(255, 255, 255, 0.843);
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
}
.prev{
    left: 50%;
    transform: translateX(-50%);
}

.next{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}