*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.card{
    display: flex;
    width: 900px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.img_slider{
    width: 85%;
}

.img_slider .img{
    width: 100%;
}

.img_details{
    color: white;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 20%;
    text-align: right;
    
    
}

.thumbnails{
    display: flex;
    width: 15%;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    position: relative;
    
}

.thumb{
    height: calc(100% / 5);
    display: block;
}

.navigator{
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.prev, .next{
    color: black;
    background-color: rgba(255, 255, 255, 0.843);
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
}